@import "../sass/utils/vars";
@import "../sass/components/mobile-menu";
@import "../sass/components/menu";
@import "../sass/components/header";
@import "../sass/components/hero";
@import "../sass/components/modal";
@import "../sass/components/services";
@import "../sass/components/about";
@import "../sass/components/team";
@import "../sass/components/customers";
@import "../sass/components/footer";
@import "../sass/components/portfolio";

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", "Rakeway", sans-serif;
  margin: 0;
  width: 100%;
}
.container {
  width: 1200px;
  margin: auto;
  justify-content: center;
}
.unstyled-list {
  list-style-type: none;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.request-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  width: 200px;
  height: 50px;

  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  flex-wrap: nowrap;
  margin-top: 30px;
  cursor: pointer;
}

@each $nrcol in 3 4 6 {
  .grid--#{$nrcol} {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    .grid__item {
      flex-basis: calc(100% / #{$nrcol} - 30px);
    }
  }
}

.unstyled-btns {
  display: flex;
  justify-content: space-around;
  max-width: 516px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  margin-top: 94px;
}
