.customer-section {
  text-align: center;
}
.customer-icon {
  border: 1px solid var(--link-color);
  border-radius: 4px;
  margin-right: 15px;
  margin-left: 15px;
  fill: var(--link-color);
  width: 210px;
  height: 92px;
  margin-bottom: 30px;

  &:hover {
    border: 1px solid var(--brand-color);
    fill: var(--brand-color);
  }
}
.gridc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .customer-section {
    text-align: center;
  }
  .customer-icon {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-icon {
    width: 170px;
  }
  .gridc {
    flex-wrap: nowrap;
  }
}
