.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms linear, transform 250ms linear;
}

.inner-modal {
  width: 328px;
  height: 681px;
  background-color: var(--white-color);
  position: relative;
}

.close-modal {
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.1);
  opacity: 0;
}

.close-icon:hover {
  fill: var(--brand-color);
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 40px;
  margin-bottom: -20px;
}
.request-form {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 1%;
  color: #757575;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.request-form label {
  position: relative;
}
.request-form label svg {
  position: absolute;
  left: 3%;
  top: 0;
  height: 75px;
  color: #212121;
  cursor: pointer;
}
.request-form :hover,
.request-form:focus {
  fill: var(--brand-color);
}

textarea:focus,
textarea:hover,
.request-form label input:focus,
.request-form label input:hover {
  border: 1px solid var(--brand-color);
}
.request-form label input {
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

input {
  flex-wrap: wrap;
  justify-content: center;
  width: 248px;
  height: 40px;
  margin-top: 4px;
}
textarea {
  flex-wrap: wrap;
  justify-content: center;
  width: 248px;
  height: 120px;
  margin-top: 4px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  cursor: pointer;
  color: currentColor;
}

.request-icon {
  position: absolute;
  margin-left: 12px;
}
.request {
  position: relative;
}
.checkbox {
  max-width: 248px;
  display: flex;
  justify-content: center;
}
.checkbox-replace {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  border: 2px solid #414141;
  border-radius: 2px;
  position: relative;
  margin-right: 8px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .checkbox-replace {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
}
.check-icon {
  position: absolute;
  width: 15px;
  height: 14px;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .inner-modal {
    width: 450px;
    height: 609px;
  }
  input {
    width: 370px;
  }
  textarea {
    width: 370px;
    height: 120px;
  }
  .checkbox {
    max-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .inner-modal {
    width: 528px;
    height: 581px;
  }
  input {
    width: 448px;
  }
  textarea {
    width: 448px;
  }
  .checkbox {
    max-width: 448px;
  }
  .modal-title {
    padding-top: 40px;
    padding-bottom: 1px;
  }
}
