.services {
  display: none;
}

@media screen and (min-width: 1200px) {
  .services {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 94px;
  }
  .grid__shadow {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);

    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    height: 70px;
    width: 370px;
    align-items: center;
    justify-content: center;
    margin-top: 224px;
  }
  .grid__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
    margin-bottom: 50px;
  }
  .services-img {
    width: 370px;
  }
}
