.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  justify-content: center;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-link {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.social-link:hover,
.social-icon:hover {
  background-color: var(--brand-color);
  color: #fff;
}
